:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --darkBlueMBG: hsl(217, 54%, 11%);
  --darkBlueCBG: hsl(216, 50%, 16%);
  --darkBlueL: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

html {
  height: 100%;
}

body {
  background-color: var(--darkBlueMBG);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 350px;
  background-color: var(--darkBlueCBG);
  font-family: "Outfit";
}

.Equilibrium {
  width: 85%;
  margin-top: 24px;
  border-radius: 16px;
}

.NFTinfo {
  display: flex;
  flex-direction: column;
  padding: 12px;

}
/* TODO */
/* bring in width so text wraps around */

.NFT {
  color: var(--white);
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

p {
  font-size: 18px;
}

.info {
  color: var(--softBlue);
  padding-left: 20px;
  padding-right: 20px;
}

.pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#price {
  color: var(--cyan);
  padding-left: 20px;
}

#timeLeft {
  color: var(--softBlue);
  padding-right: 15px;
}

#clock {
  vertical-align: baseline;
}

#line {
  border-bottom: 2px solid var(--darkBlueL);
}

.credit {
  display: flex;
  align-items: center;
  color: var(--softBlue);
}

#JW {
  border: 2px solid var(--white);
  border-radius: 50%;
  width: 48px;
}

#creationOf {
  padding-left: 20px;
}

.creator {
  color: var(--white);
}

/* TODO */
/* relocate image to be centered with text */

.attribution {
  display: none;
}
